h1{
    text-align:center;
    font-family: 'Roboto Mono', monospace;
  }
 p{
     text-align: center;
 }
 h2{
     text-align: center;
     font-family: 'Roboto Mono', monospace;
 } 
 img{
     border-radius: 50%;
     border : 5px solid black;
 }
 ul{
     text-align: center;
     list-style-position: inside;
 }
 table{
     margin-left: auto;
     margin-right: auto;
     border: 1px solid black;
 }
 .form{
        text-align: right;
        margin: right 10px;;
 }
 .text{
        margin-right: 50px;
 }
 .body{
       
       border-width: 10px;
       border-color: rgb(255,255,255);
       border-style: solid;
       border-radius: 20px;
       background-color:rgb(255, 255, 255);
       padding: 60px;
       margin: 50px;
       
 }
 .style1{
    font-family: 'Roboto Mono', monospace;
 }
html{
     background-color:rgb(4, 29, 99);
    }